.profile-container{
    background-color: var(--rw-default-light-gray);
    display: flex;
    flex-direction: column;
    padding: 5em;
    border-radius: 16px;
    margin: 5em auto;
    width: 80%;
}

.user-favorites-wrapper h2{
    text-align: center;
}


.user-favorites-container{
    width: 80%;
    margin: 3em auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-auto-rows: 250px;
    gap: 1em;
}

.user-favs-card{
    width: 250px;
    text-align: center;
}

.user-favs-card img{
    border-radius: 16px;
}