:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;


  --rw-lightyellow: #FFE9A1;
  --rw-darkyellow: #FFDB63;
  --rw-default-text: #2c2b2b;
  --rw-default-light-gray: #F5F2F2;
  --rw-darkmode-bg: #1e1e1e;
  --rw-darkmode-text:#f8f5f5;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--rw-default-text);
}

a{
  text-decoration: none;
  color: var(--rw-default-text);
}
h1, h2, h3, h4 {
  color: var(--rw-default-text);
}

img{
  max-width: 100%;
}

button{
  background-color: var(--rw-darkyellow);
  color: var(--rw-default-text);
  padding: 1em 2em;
  border-radius: 16px;
  border: none;
  font-weight: bold;
}

button:hover{
  cursor: pointer;
  background-color: var(--rw-lightyellow);
}

.content-wrapper{
  max-width: 80vw;
  margin: 0 auto 5em auto;
  min-height: 75vh;
}


.dark-mode-on{
  background-color: var(--rw-darkmode-bg);
  color: var(--rw-darkmode-text);

  header,
  main,
  nav,
  .nav-link-container a,
  .login-status-container span,
  .login-status-container a,
  .ingredients-sidebar span,
  .content-wrapper,
  h1, h2, h3, p
  {
    color: var(--rw-darkmode-text);
  }

  .popular-card,
  .recipe-card-horizontal,
  .ingredients-sidebar,
  .profile-container{
    background-color: var(--rw-darkmode-bg);
    border: 1px solid var(--rw-darkmode-text);
  }

  .favorite-icon-container svg,
  .detail-fav-container svg,
  .header-logo svg{
    fill: var(--rw-darkmode-text);
    stroke: var(--rw-darkmode-text);
  }

  .dark-icon{
    fill: var(--rw-lightyellow);
  }
}